<!--<%= form_for(:task) do |task| %>

  <div>
    <%= task.label :title %>
    <%= task.text_field :title %>
  </div>

  <div>
    <%= task.label :description %>
    <%= task.text_field :description %>
  </div>

  <div>
    <%= task.label :completed %>
    <%= task.check_box :completed %>
  </div>

  <div>
    <%= task.label :due_at %>
    <%= task.date_field :due_at %>
  </div>
 
  <div>
    <%= task.submit 'Save' %>
  </div>

<% end %> 
-->